{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>成功上传训练数据文件并准备训练</title>
        <style>
            body 
            {   
                margin: 0px;
                background-image: url("{% static 'pics/bg2.png' %}");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-attachment:fixed;
            }
            section
            {
                padding-top: 120px;
                text-align: center;
                font-size: 20px;
            }            
        </style>        
    </head>
    <body>
        <section>
            <font color='red'><b>成功上传训练数据csv文件!</b></font><br>
            你当前上传的训练数据,csv文件名称为:<br>
            <font color='green'>{{train_file_name}}</font><br>
            请<font color='red'>点击</font>如下<b>训练</b>链接进行训练，请耐心等待...<br>
            （训练完成后将可以在浏览器中下载训练模型）<br>
            <a href="{% url 'train_download' train_id %}" target="_blank">训练</a>
        </section>
    </body>
</html>